@charset "utf-8";
/* CSS Document */
.header{
	background-color:#4867aa;
	width:100%;
	height:83px;
	}
	.emailorphone{
		
    color: white;
	    padding-top: 7px;
    /*margin-top: 10px;*/
}
.login{
	    padding-top: 29px;
		
	}
	.login1{
    border-radius: 1px;
    border: none
	

		}
	.form-style{
		color:#000;
		}
		.colorc{

background-color:#eceff5;
			}
			.font1{
		line-height: 29px;
        font-size: 26px;
        font-weight: bold;
        width:450px;
		padding-top: 34px;
				}
				.img1{
		width:537px;
        height: 195px;
		padding: 10px;
        padding-top: 20px;
					}
					/*.signup{
						    margin-left: 11%;
						}
						
							.form-control{
								       width: 138%;
                                       margin-left: 45%;
								}
								.lastname{
									
									    width: 11%;
										}
										.form-control1{
											display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
											}*/
											.signup2{
							    margin-left: 12%;
							}
						/*password Error Page Styles*/	

	.btn-success{
    border: none;
    /* padding-top: 3%; */
    border-radius: 7%;
    margin-top: -4%;
	}
	.passwrong{
    padding-top: 1%;
    }
    .body{
   	background-color: #e8eaf3;
    }
    .part2{
    	background-color: #ffffff;
    	margin-top: 6%;
    }			
		
		


